body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0px;
    font-family: Roboto;
}

.header, .footer {
    background-color: #1F2937;
    color: white;
}

.logo {
 font-size: 24px;   
 color: #F9FAF8;
 font-weight: 900;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

a {
   color: white; 
   text-decoration: none;
}

.links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 10px
}

.img-ph {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    }
.desc {
    flex-basis: 100%;
}

.img-ph h1{
    margin: 20px;
    font-size: 20px;
}

.desc-img {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
    }

.desc h1{
font-size: 48px;
color: #F9FAF8;
font-weight: 900;
margin: 0;
}

.top-bottom {
    display: flex;
    justify-content: space-around;
    order: 1;
    gap: 20px;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 0;
        height: 250px;
        width: 160px;
        
    }

.box-c {
    height: 138px;
    width: 138px;
    border: 2px;
    border-style: solid;
    border-color: black;
    display: flex;    
}

.box-text {
    text-wrap: wrap;
    text-align: center;
    width: 140px;
}
.name {
    display: flex;
    justify-content: flex-end;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 10px 100px 50px;
}

.desc button {
    background-color: rgb(10, 128, 247);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 900;
}

.top-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tb-c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tb-left {
    order: 0;
}

.tb-right {
    order: 2;
}