body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.desc-img {
    display: flex;
    justify-content: space-between;
}

.top-bottom {
    display: flex;
}

.name {
    display: flex;
    justify-content: flex-end;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}





















.box {
    height: 100px;
    width: 100px;
    border: 2px;
    border-style: solid;
    border-color: black;
}